<h1><%= @generator.name %></h1>

<div class="tab">
<label>Tags</label>
<%= @generator.tag_list %>
</div>

<div class="tab">
<label>Preview</label>
<%= @generator.preview %>
</div>

<div class="tab">
<label>Model</label>
<%= @generator.model %>
</div>