<h1>Snippets</h1>

<ul>
  <% @snippets.each do |snippet| %>
    <li>
      <%= link_to(snippet.title, snippet) %>
      <p><%= snippet.body %></p>
      <ul>
      <% if snippet.tags %>
        <% snippet.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end%>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>