<div class="page-header">
  <h1 class="page-title">Tag: <%= @tag.title %></h1>
  <a class="button" href="<%= edit_tag_path(@tag) %>">Edit</a>
</div>

<h2>Snippets</h2>
<% @tag.snippets.each do |snippet| %>
    <%= render 'components/tab/entity', entity: snippet %>
<% end %>

<h2>Generators</h2>
<% @tag.generators.each do |generator| %>
    <%= render 'components/tab/entity', entity: generator %>
<% end %>
