<h1 class="page-title">Tag: <%= @tag.name %></h1>

<h2>Snippets</h2>
<% @tag.snippets.each do |snippet| %>
    <%= render 'components/tab/entity', entity: snippet %>
<% end %>

<h2>Generators</h2>
<% @tag.generators.each do |generator| %>
    <%= render 'components/tab/entity', entity: generator %>
<% end %>
