header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 2rem;
  border-bottom: 2px solid black;
  align-items: baseline;
  justify-content: space-between;

  h1 {
    color: #5e5e5e;
    font-size: 2rem;
    font-family: 'Otomanopee One', sans-serif;
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 3rem;
  padding-bottom: 0;

  .button {
    font-weight: bold;
  }
}