.tab {
  position: relative;
  display: flex;
  align-items: stretch;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  overflow: hidden;
  min-height: 3rem;

  a {
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }

  label {
    border-radius: 5px;
    padding: .5rem 1rem;
    background: black;
    color: white;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-bottom: 1rem;
  }

  .tab-button {
    text-decoration: none;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}