// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tag {
  display: inline-block;
  background: lightgray;
  border: 1px solid darkgrey;
  border-radius: 5px;

  &:hover {
    background-color: darkgrey;
  }

  a {
    border-radius: 5px;
    text-decoration: none;
  }
}